#cw1, #cw2, #cw3, #cw4 {
      list-style-type: circle;
      background-color: transparent;
      color: rgb(40, 5, 56);
      font-weight: bold;
      font-size: 16px;
      font-family: Petrona;
      letter-spacing:0.11vw;
      text-align:justify;
      display: list-item;
      margin-left: 20%;
      padding-top: 10vw;
      box-sizing: border-box;
    }
    
    
#deg1, #deg2, #deg3, #deg4 {
          padding-top: 10vw;
          margin-left: 0%;

                }
.button-group {
  margin-right: 1vw;
  }            
                
button {
    margin-left:10px;
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #112D5C;
    color: white;
    font-family: Petrona;
    font-size: 1vw;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    
}

button:hover {
    outline: none;
    background-color:  #0080FF;
    color: white;
}

button:focus {
    outline: none;
    background-color: #660000;
    color: #fff;
}


@media (max-width:800px) {
  
  #cw1, #cw2, #cw3, #cw4 {
    font-size: 4vw;
    letter-spacing: 0.11vw;
    
  }
  
 
}

